/* index.html */

.announce-vh-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    display: flex;
    padding: 6rem 3rem 1rem;
}

.announce-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.modal-announce-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* 
.modal-announce-container {
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 90%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */

.modal-container {
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-announce {
    position: relative;
    background-color: #fff;
    border-radius: .3rem;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    width: 100%;
    max-height: 90%;
}

.announce-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2rem;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.announce-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2rem;
    color: #5c5c5c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.announce-carousel-controler {
    width: 100%;
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .3rem;
}

.announce-carousel-controler:hover {
    background-color: var(--gray_hover);
}

.announce-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100%;
}

.announce-img {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
}

/* Fading animation */
.fade {
    animation: ease-in-out;
    animation-name: fade;
    animation-duration: .3s;
}

@keyframes fade {
    from {opacity: 0}
    to {opacity: 1}
}

.nom-view-container {
    display: flex;
    width: 100%;
    height: 100%;
}

.pdf_container {
    flex-grow: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.pdf-body {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 20;
}

.pdf {
    width: 100%;
    height: 93%;
}

#pdf-footer {
    height: 6%;
}

.pdf-footer {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--blue);
    color: #fff;
    border: 2px solid var(--blue);
    border-radius: .3rem;
    font-weight: 600;
}

.pdf-footer:hover {
    background-color: #fff;
    color: var(--blue);
}

.sidebar-container {
    flex-grow: 2;
    max-width: 400px;
    display: flex;
    flex-direction: column;
}

.tables-container {
    display: flex;
    flex-direction: column;
}

.table-container {
    font-family: Roboto;
    margin-right: .5rem;
    margin-left: .5rem;
}

.table-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #fff;
    cursor: pointer;
}

.table-menu-opened {
    display: table-row-group;
}

.table-menu-closed {
    display: table-row-group;
}

.doc-icon {
    width: 2.5rem;
}

.nom-item {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.nom-item:hover, .nom-item:hover svg {
    background-color: #5c5c5c;
    border-radius: 5px;
    color: #fff;
    fill: #fff;
}

.info-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    width: 100%;
    max-height: 25rem;
}

.info-item-container {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-item {
    height: 10rem;
    width: 10rem;
    padding: .6rem;
    border-radius: .8rem;
    background-color: #F2BB05;
    /* box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
    border: 3px solid #fdc121; */
}

.info-content {
    position: relative;
    padding: .5rem;
    border-radius: .7rem;
    outline: 3px solid #fff;
    width: 100%;
    height: 100%;
}

.info-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: .9rem;
    font-weight: 600;
    color: #000;
    fill: #000;
    opacity: 0.6;
}

.info-icon {
    width: 45px;
    height: 45px;
}

.info-value {
    font-weight: 700;
    color: #000;
    opacity: 0.9;
    font-size: 1.2rem;
}

.seniority {
    font-size: 0.9rem;
}

.fondo-acumulado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 1.1rem;
}

.fondo-text-item {
    font-size: .8rem;
    color: rgba(0, 0, 0, 0.7);
}

.fondo-text-item-value {
    font-size: .9rem;
    color: #000;

}

.fondo-text-item-marked {
    border-radius: 5px;
    background-color: var(--bg-color);
}

.fondo-icon {
    position: absolute;
    bottom: .1rem;
}

.user-mail {
    padding: .5rem;
    font-size: .9rem;
}

.ni-text {
    color: #6e6e6e;
    font-size: 1.2rem;
}

.no-show {
    display: none;
}

@media screen and (max-height: 920px), screen and (max-width: 1070px) {
    .nom-view-container {
        flex-direction: column;
        gap: 1.5rem;
    }
    .dvh-100 {
        height:fit-content;
    }
    .pdf_container {
        height: 40rem;
        margin-bottom: .5rem;
    }
    .sidebar-container {
        max-width: 100%;
        flex-direction: row;
        height: 420px;
    }
    .tables-container {
        width: 55%;
    }
    .info-container {
        gap: 1rem 0;
        width: 45%;
    }
}

@media screen and (max-width: 910px) {
    .sidebar-container {
        flex-direction: column;
        height: 100%;
        align-items: center;
    }
    .tables-container {
        width: 25rem;
    }
    .info-container {
        gap: 1rem 0;
        width: 22rem;
    }
}

@media screen and (max-width: 460px) {
    .pdf_container {
        max-height: calc(100dvh - 9rem);
    }
    .container {
        padding: 6rem .5rem 3rem;
    }

    .announce-carousel-controler {
        display: none;
    }
    .tables-container {
        width: 100%;
    }
    .info-container {
        width: 100%;
        max-height: 100%;
        justify-content: center;
    }
}